* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "nav nav nav nav nav nav nav nav"
    "empty empty empty empty empty empty empty empty"
    "main main main main main main main main"
    "emptyb emptyb emptyb emptyb emptyb emptyb emptyb emptyb"
    "footer footer footer footer footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.5fr;

}

.navbar {
    grid-area: nav;
    background: yellow;
}

.empty {
    grid-area: empty;
    background: gray;
}

.main {
    grid-area: main;
    background: rgb(13, 241, 237);
}

.emptybottom {
    grid-area: emptyb;
    background: gray;
}

.footer {
    grid-area: footer;
    background: rgb(205, 85, 239);
}